#options {
  width: 24px;
  height: 24px;
}

#name {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

#searchIcon {
  width: 20px;
  height: 20px;
  fill: #9aa0a6;
  margin-left: 5px;
}

#keyboard {
  height: auto;
  width: 19px;
  vertical-align: middle;
}

#voice {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.head-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.head-container a {
  line-height: 24px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
}

.head-container * {
  margin: 10px;
}

.google {
  height: 92px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.input-container > * {
  padding: 10px;
}

.input-container:hover {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

#input {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  -webkit-tap-highlight-color: transparent;
  height: 34px;
  font-size: 16px;
  width: 447px;
}

.button-container {
  margin-top: 30px;
}

.button-container > input {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-size: 14px;
  margin: 0px 4px;
  line-height: 27px;
  height: 36px;
  padding: 0 16px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  outline: none;
}

.button-container > input:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

.button-container > input:last-child {
  padding: 0 16px;
}

.language {
  margin-top: 20px;
  font-size: small;

  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.language-container {
  flex-grow: 1;
  flex-shrink: 0;
}
.language > ul {
  list-style: none;
  display: inline;
  padding-left: 10px;
}

.language > ul > li {
  display: inline;
  color: #1a0dab;
  margin: 0px 5px;
}

.footer-container {
  margin-top: 50px;
  bottom: 0px;
  left: 0px;
  background: #f2f2f2;
  width: 100%;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.54);
}

.footer-container ul {
  list-style: none;
  display: flex;
  margin: 0px;
  margin-left: 0px;
  padding-left: 0px;
}

.footer-container > div:last-child {
  display: flex;
  justify-content: space-between;
}

.footer-container li:not(:first-child) {
  display: inline;
  padding: 0px 15px;
}

.footer-container li:first-child {
  padding-right: 15px;
}

.footer-container > * {
  padding: 15px 30px;
}

.footer-container ul .footer-container > *:first-child {
  border-bottom: 1px solid #dadce0;
}
.container {
  font-family: arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0px;
}

.container a {
  text-decoration: none;
  color: inherit;
}

.container a:hover {
  text-decoration: underline;
}
